/* tag ile kullanımı */
/* p{
    background-color: black;
} */

/* id ile kullanımı */
/* #parag_id{
    background-color: blue;
} */

/* class ile kullanımı */
/* .parag_class{
    background-color: orange;
} */

/* color, background-color, important */
#parag_id{
    color:red;
    color:#ff0000;
    color:rgb(255,0,0);
    color:rgba(255,0,0,0.9);
    color:hsl(0,100%,50%);
    color:hsl(0,100%,50%);
    color:hsla(0,100%,50%,0.9);
    background-color: black!important;
    background-color: blue;

    /* padding:10px 15px 25px 12px; */
    /* padding:10px 20px 15px; */
    /* padding:15px 20px; */
    /* padding:15px; */
    padding-top:15px;
    padding-right: 15px;
    padding-bottom:15px;
    padding-left:15px;

    /* margin:10px 15px 25px 12px; */
    /* margin:10px 20px 15px; */
    /* margin:15px 20px; */
    /* margin:15px; */
    margin-top:25px;
    margin-right: 15px;
    margin-bottom:15px;
    margin-left:15px;
}